mat-card-header{
    background-color: #e6ec7f;
    padding:5px;
    font-size: 40px;
    text-align: center;
}
span{
    font-size:20px;
    color:#ec2007cf;
}
.mat-button{
    background-color: #dfe8c6;
    margin-top:5px;
}