.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
  max-height: 30%;
}

.dashboard-card-content {
  text-align: center;

}
.mat-button{
  background-color: #dfe8c6;
  margin-top:5px;
}
.pages {
  font-size: 20px;
  color: #acb010;
  background-color: #1d3520;
  padding-top:20px;
  height: 45px;;
}
.mat-card{
  background:beige;
}
.mat-spinner{
  color: lightgreen;
  /* max-width: 10px;
  min-width: 5px; */
}