.example-card {
    max-width: 400px;
    max-height: 30%
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .avatar {
    width:45px;
    border-radius: 20px;
  }
  span {
    font-size: 20px;
    color:#c1bf3e;
  }
  mat-card-header{
    background-color: #589690;
  }